@media {
    /*Phone styles here*/
    /*This media query targets any screen smaller than 576px wide (see below)*/
    
    body {
   font-family: 'Merriweather', serif;
    }
    
    h1 {
        font-size: 52px;
         font-family: 'Archivo', sans-serif;
    }
    
    h2 {
        font-size: 12px
    }
    
    h3 {
        font-size: 15px
    }
    
    h4 {
        font-size: 25px;
        font-weight: bold;
        font-family: 'Archivo', sans-serif;
    }
    
    .headline-line {
        width: 100%;
        color: red;
    }
    
    .leadimage {
        width:100%;
    }
    
    #pullquote {
        font-weight: bold;
        padding: 10px 10px 10px 10px
    }
    .quoteline-top {
        width: 100%;
        color: red;
    }
   
    .quoteline-bottom {
        width: 50%;
        color: red;
    }
    
    li {
        color: gray
    }
    
    #dateline {
        font-weight: bold;
    }
    
    #leadcaption {
        font-size: 13px
    }
    
    #caption {
        font-size: 10px
    }
    
    #credit {
        color: grey
    }
    
    #end-note {
        font-family: 'Merriweather', serif;
        font-style: italic;
    }

    #footer {
    background-color: black;
    color: white;
    font-size: 15px
    padding: 10px 0px 10px 10px;
    font-family: 'Merriweather', serif;
}

/* Number counter styles */
    
    h5 {
        margin: 0;
  font-size: 1.4em;
  text-align: center;
    }
    
    .number-container {
        width: 50%;
        margin: 4em auto;
}

$font-size: 140px;

#counter {
  height: auto; width: 180px;
  overflow: hidden;
  position: relative;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 70px auto;
  display: block;
  
  &::before, &::after {
    position: absolute;
    white-space: pre;
    width: $font-size / 1.75;
  }
    
/* end of counter styles */     
    
    
    
@media (min-width: 576px) {
    /*Tablet-only styles here*/
    /*This media query targets any screen that is at least 576px wide (but smaller than 992px wide (see below)*/
}

@media (min-width: 992px) {
    /*Desktop-only styles here*/
    /*This media query targets any screen that is at least 992px wide*/
}

@media (min-width: 1200px) {
    /*Large-Desktop-only styles here*/
    /*This media query targets any screen that is at least 1200px wide*/
}